In [17]:
import pandas as pd

columns = ['news_id', 'category', 'subcategory', 'title', 'abstract', 'url', 'title_entities', 'abstract_entities']

news = pd.read_csv(
    'news.tsv',
    delimiter="\t",
    names=columns)

news.shape

(101527, 8)

In [18]:
trimmed_news = news[['news_id', 'category', 'subcategory']]

trimmed_news.head()

  news_id   category               subcategory
0  N88753  lifestyle           lifestyleroyals
1  N45436       news  newsscienceandtechnology
2  N23144     health                weightloss
3  N86255     health                   medical
4  N93187       news                 newsworld

In [19]:
categories = trimmed_news.category.unique()
category_dict = dict(zip(categories, range(len(categories))))

In [20]:
subcategories = trimmed_news.subcategory.unique()
subcategory_dict = dict(zip(subcategories, range(len(subcategories))))

In [21]:
trimmed_news = trimmed_news.replace({'category': category_dict, 'subcategory': subcategory_dict})

trimmed_news.head(4)

  news_id  category  subcategory
0  N88753         0            0
1  N45436         1            1
2  N23144         2            2
3  N86255         2            3

In [22]:
trimmed_news.to_csv('librec-auto-study/data/item-features.csv', header=False, index=False)
trimmed_news.head(50000).to_csv('librec-auto-study/data/item-features-sample.csv', header=False, index=False)